<div class="container">
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="botman1001" data-description="Support me on Buy me a coffee!" data-message="" data-color="#BD5FFF"
    data-position="Right" data-x_margin="18" data-y_margin="18"></script>
      <div id="content" class="content">
        {% include affiliate_links.html %}
        <br>
        <h3>Tags</h3>
        <p>
          {% for tag in site.tags %}
          <a href="/tags#{{ tag[0] | replace: " ","-" }}" class="post-tag">
            {{ tag[0] }}
          </a>,
          {% endfor %}
        </p>
      </div>
        <a href="{{ site.url }}" class="fa fa-home"></a>
        <a href="https://www.facebook.com/{{ site.facebook_username }}" class="fab fa-facebook"></a>
        <a href="https://github.com/{{ site.github_username }}" class="fab fa-github"></a>
        <a href="https://twitter.com/{{ site.twitter_username }}" class="fab fa-twitter"></a>
        <a href="https://medium.com/{{ site.medium_username }}" class="fab fa-medium"></a>
        <a href="https://www.instagram.com/{{ site.instagram_username }}" class="fab fa-instagram"></a>
        <a href="https://t.me/{{ site.telegram_username }}" class="fab fa-telegram"></a>
        <a href="https://www.youtube.com/channel/{{ site.youtube_username }}" class="fab fa-youtube"></a>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="fab fa-rss"></a>
        <p>Copyright © {{ site.time | date: "%Y" }} {{ site.name }}</p>
</div>
