<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body>
  {{ partial "header-nav.html" . }}
  <section class="main-content">
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </section>
  {{ partial "google-analytics-async.html" . }}

  <script type="text/javascript">
    var infolinks_pid = 3210490;
    var infolinks_wsid = 0;
    </script>
    <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
</body>
</html>
