<footer class="site-footer">
  <span class="site-footer-credits">
  <h3>Referral alert:</h3>
    <p><b><a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler Academy</a>:</b> If you are considering enrolling in <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler Academy</a> and would like a referral and discount on your fees, I can help. As a Scaler alumnus, I can provide referrals. Use my <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">referral link</a> if you have decided to join <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler Academy</a>. If you want to know more about Scaler Academy, drop a mail at <a href="mailto:programmercave@gmail.com">programmercave@gmail.com</a></p> 
    
    <a href="{{ .Site.BaseURL }}" class="fa fa-home"></a>

    <a href="https://www.facebook.com/{{ .Site.Params.facebook_username }}" class="fab fa-facebook"></a>

    <a href="https://github.com/{{ .Site.Params.github_username }}" class="fab fa-github"></a>

    <a href="https://twitter.com/{{ .Site.Params.twitter_username }}" class="fab fa-twitter"></a>

    <a href="https://medium.com/{{ .Site.Params.medium_username }}" class="fab fa-medium"></a>

    <a href="https://www.instagram.com/{{ .Site.Params.instagram_username }}" class="fab fa-instagram"></a>

    <a href="https://t.me/{{ .Site.Params.telegram_username }}" class="fab fa-telegram"></a>

    <a href="https://www.youtube.com/channel/{{ .Site.Params.youtube_username }}" class="fab fa-youtube"></a>

    <p>Copyright © {{ now.Format "2006" }} {{ .Site.Title }}</p>  </span>
</footer>
