<footer class="site-footer">
  <span class="site-footer-credits">
  <h3>Promotion:</h3>
    <p><b><a href="namastedev.com?_aff=1738041847176" target="_blank">NamasteDev</a>:</b> Discover a transformative learning experience with <a href="namastedev.com?_aff=1738041847176" target="_blank">NamasteDev</a> , an innovative EdTech platform designed to empower aspiring developers. Whether you're starting your coding journey or looking to enhance your skills, <a href="namastedev.com?_aff=1738041847176" target="_blank">NamasteDev</a> offers a wide range of courses including Namaste React, Namaste Node.js, and Frontend System Design.<br><br>
      <b>Why Choose <a href="namastedev.com?_aff=1738041847176" target="_blank">NamasteDev</a>?</b>
      <li>Learn On Demand: Study at your own pace from anywhere in the world.</li>
      <li>Expert Guidance: Benefit from industry-leading instructors with years of experience. </li>
      <li>Project-Based Learning: Engage in hands-on projects to solidify your understanding.</li>
      <li> Comprehensive Curriculum: Access high-quality content that keeps you updated with the latest trends in technology.</li> <br>
      Join a vibrant community of learners and gain access to valuable resources that will help you thrive in the tech industry. Start your journey today at NamasteDev and unlock endless opportunities for growth and success!</p>

    <hr>

    <p><b><a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler Academy</a>:</b> Elevate your tech career with <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler</a>! Join a community dedicated to transforming careers in technology. With over 15,000 successful career transitions and partnerships with 900+ placement partners, <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler</a> offers tailored learning experiences that can help you become part of the top 1% in the tech industry. <br>
    Explore a variety of programs, participate in live classes, and gain access to valuable resources designed to enhance your skills. Whether you're looking to advance in your current role or pivot to a new career, <a href="https://www.scaler.com?unlock_code=MAIL575E" target="_blank">Scaler</a> provides the support and guidance you need to succeed. Don't miss out—book your free live class today!</p> 
    
    <a href="{{ .Site.BaseURL }}" class="fa fa-home"></a>

    <a href="https://www.facebook.com/{{ .Site.Params.facebook_username }}" class="fab fa-facebook"></a>

    <a href="https://github.com/{{ .Site.Params.github_username }}" class="fab fa-github"></a>

    <a href="https://twitter.com/{{ .Site.Params.twitter_username }}" class="fab fa-twitter"></a>

    <a href="https://medium.com/{{ .Site.Params.medium_username }}" class="fab fa-medium"></a>

    <a href="https://www.instagram.com/{{ .Site.Params.instagram_username }}" class="fab fa-instagram"></a>

    <a href="https://t.me/{{ .Site.Params.telegram_username }}" class="fab fa-telegram"></a>

    <a href="https://www.youtube.com/channel/{{ .Site.Params.youtube_username }}" class="fab fa-youtube"></a>

    <p>Copyright © {{ now.Format "2006" }} {{ .Site.Title }}</p>  </span>
</footer>
