---
layout: default
---
<!-- AUto ads-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6819793054373827"
  crossorigin="anonymous"></script>

<!-- Post Content -->
<article style="padding-top: 50px;">
  <h1>{{ page.title }}</h1>
  <div class="meta">
    <span class="date">{{ page.date | date_to_string }}</span>
    <span class="author">{{ page.author }}</span>
    {% if page.tags %}
      <span class="tags">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <div class="container">
    <div class="row">
          {{ content }}
          {% include comments.html %}
        </div>
        <hr>
        <ul class="pager">
          {% if page.previous.url %}
            <li class="previous">
              <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
            </li>
          {% endif %}
          {% if page.next.url %}
            <li class="next">
              <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
            </li>
          {% endif %}
        </ul>

        <hr>

        <hr>

        {% if site.related_posts.size >= 1 %}
          <div>
            <h3>Related Posts</h3>
            <ul>
              {% for related_post in site.related_posts limit: 5 %}
                <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
  </div>
</article>